
@import url('https://fonts.googleapis.com/css2?family= :ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal; 
}
.img-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-color: transparent;
}

.main {
  height: 100vh;
  background-image: cover;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}
h5 {
  color: hsl(75, 94%, 57%);
}
.main-box {
  background-color: rgb(35, 41, 41);

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;

  gap: 25px;
}
.main-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 20%;
}
button {
  border: none;
  padding: 10px 120px;
  font-weight: 700;
  color: #fff;
  border-radius: 8px;
  background-color: rgba(45, 63, 63, 0.363);
}
button:hover {
  background-color: hsl(75, 94%, 57%);
  color: rgb(0, 0, 0);
  transition: background-color 300ms ease-in;
}
.main-btns {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
